* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width:1110px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #EEEFF1;
    padding-top:79px;
    padding-bottom: 141px;
}

.link {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.link.active {
    color:#34547A;
    font-weight: 500;
}

.item {
    display: inline-block;
    vertical-align: top;
    margin-right: 42px;
}

.link:hover {
    font-weight: 500;
    color: #34547A;
}

.navigation {
    margin-bottom:160px;
}

.title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 45px;
}

.description {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 540px;
    margin-bottom: 54px;
}

.description.center {
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

.button {
    display: inline-block;
    vertical-align: top;
    background-color: #34547A;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding-top: 19px;
    padding-right: 41px;
    padding-bottom: 20px;
    padding-left: 41px;
    text-transform: uppercase;
}

.sub-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 42px;
}

.about {
    padding-top: 112px;
    padding-bottom: 89px;
    background-color: #F9F9F9;
}

.about .description {
    margin-bottom:0px;
}

.cards {
    background: #34547A;
    padding-top: 100px;
    padding-bottom:100px;
}

.card-icon {
    display: inline-block;
    vertical-align: top;
    margin-right:20px;
}

.card-info {
    display: inline-block;
    vertical-align: top;
    color: #FFFFFF;
}

.card-title {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 5px;
    margin-top: 3px;
}

.card-description {
    font-size: 16px;
    line-height: 18px;
}

.card {
    display: inline-block;
    vertical-align: top;
    margin-right:49px;
}

.card:last-child {
    margin-right:0px;
}

.howto {
    padding-top:100px;
    padding-bottom:100px;
    background: #EEEFF1;
}

.video {
    display: block;
    width:1110px;
    height:600px;
}

.howto .description {
    margin-bottom:46px;
}

.footer {
    background: #34547A;
    padding-top: 50px;
    padding-bottom: 47px;
    color:white;
}

.name {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 15px;
}

.copyright {
    font-size: 13px;
    line-height: 15px;
}